{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Joenne Online Invitation</title>

	<link rel="stylesheet" href="{% static 'inv_card/styles/inv_css.css' %}?{% now "U" %}"">
	<script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
<div class="container_all">
		<div class="card1 section">
			<div class="inv">
				<div class="pic">
					<img src="{% static 'inv_card/img/joenne2.png' %}" alt="">
					<img class="baloon" src="{% static 'inv_card/img/122.png' %}" alt="">
				</div>
			<div class="Notes">
				<h1 id="g1">This girl is</h1>
				<h1 id="O1">One!</h1>
			</div>
			</div>
		</div>


	<section class="about section" id="about">
		<div class="container flex-center">
			
			<div class="content flex-center">
				<div class="about-info">
					<div class="description">
					<!-- 	<h3>Lorem, ipsums.</h3> -->
						<h4 class="p1">Please join us in celebrating The Christening and 1st Birthday of</h4>
						<h2 class="p2">Joenne Elizaveth</h2>
						<div class="time_date">
							<div class="p3">
							<p>Christening on Saturday 11 June 2022 11:00AM</p>
							<p id="ch">Our Lady of the Abandoned Parish Church-Marikina</p>
							</div>
							<div class="p4">
							<p>Birthday Celebration  at 12:30PM</p>
							<p>Val and Joe Diner & Catering
</p>
</div>
						</div>
					</div>
				</div>
				<div class="about-img">
					<img src="{% static 'inv_card/img/ONEJoenne.png' %}" alt="">
				</div>

				
			</div>
		</div>
	</section>

	<section class="simbahan section">
		
		<h1 class="section-title-01">Church</h1>
		<h2 class="section-title-02">Church</h2>
		<div class="k1">
		<h2 id="ch1">Diocesan Shrine and Parish of Our Lady of the Abandoned</h2>
		<h3 id="ch2">J.P. Rizal, Corner V. Gomez St, Marikina</h3>
		</div>
		<div class="sim">
			<img class="sim00" src="{% static 'inv_card/img/simbahan.png' %}" alt="">
			<iframe class="sim01" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.4436329034856!2d121.09399971484056!3d14.630740589783231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b833fbc2818f%3A0x9d133b0831c4c5f5!2sDiocesan%20Shrine%20and%20Parish%20of%20Our%20Lady%20of%20the%20Abandoned%20-%20Marikina%20City%20(Diocese%20of%20Antipolo)!5e0!3m2!1sen!2sph!4v1653751554550!5m2!1sen!2sph" width="600
			" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	
	</section>

<section class="reception section">
	<h1 class="section-title-01">Reception</h1>
	<h2 class="section-title-02">Reception</h2>
	<div class="k1">
	<h2 id="ch1">Val and Joe diner & Catering</h2>
	<h3 id="ch2">33 Nicanor Roxas St., Marikina City, Philippines</h3>
</div>
	<div class="sim">
			<img class="sim00" src="{% static 'inv_card/img/ven.jpg' %}" alt="">
			<iframe class="sim01" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.5768174061636!2d121.09414601484042!3d14.623166689788054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b83a213267a5%3A0xd1c16e539cfcf2f8!2s33%20Nicanor%20Roxas%20St%2C%20Marikina%2C%201801%20Metro%20Manila!5e0!3m2!1sen!2sph!4v1653757660088!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
</section>

<section class="months section">
	<h3>I learned to laugh and squeal, then sit and stand. I can walk on my own now, but the fun has just begun! Lookout world I’m turning ONE!
	</h3>
<br/>
<br/>
	<h3 class="cc1">Come! Let's do some fruitful celebration with me!</h3>


 <!-- <div class="card__background" style="background-image: url(https://drive.google.com/uc?export=view&id=1Np1oaL9V4pQbGzlGqv1RljUoj-IwlWxB)"></div> -->
</section>
<section class="hero-section">
  <div class="card-grid">
    <a class="card" id="confetti">
 
       <div class="card__background" style="background-image: url('/static/inv_card/img/1.jpg')"></div>
      <div class="card__content">
        <!-- <p class="card__category">Category</p> -->
        <h3 class="card__heading">1st Month</h3>
      </div>
    </a>
    <a class="card" id="confetti">
      <div class="card__background" style="background-image: url('/static/inv_card/img/2.jpg')"></div>
      <div class="card__content">
        <!-- <p class="card__category">Category</p> -->
        <h3 class="card__heading">2nd Month</h3>
      </div>
    </a>
    <a class="card" id="confetti">
      <div class="card__background" style="background-image: url('/static/inv_card/img/33.jpg')"></div>
      <div class="card__content">
        <!-- <p class="card__category">3 Month</p> -->
        <h3 class="card__heading">3rd Month</h3>
      </div>
  </a>
    <a class="card" id="confetti">
      <div class="card__background" style="background-image: url('/static/inv_card/img/4.jpg')"></div>
      <div class="card__content">
        <!-- <p class="card__category">Category</p> -->
        <h3 class="card__heading">4th Month</h3>
      </div>
    </a>

      <a class="card" id="confetti">
      <div class="card__background" style="background-image: url('/static/inv_card/img/55.jpg')"></div>
      <div class="card__content">
        <!-- <p class="card__category">Category</p> -->
        <h3 class="card__heading">5th Month</h3>
      </div>
    </a>

      <a class="card" >
      <div class="card__background" style="background-image: url('/static/inv_card/img/6.jpg')"></div>
      <div class="card__content">
        <!-- <p class="card__category">Category</p> -->
        <h3 class="card__heading">6th Month</h3>
      </div>
    </a>

      <a class="card" >
      <div class="card__background" style="background-image: url('/static/inv_card/img/7.jpg')"></div>
      <div class="card__content">
        <!-- <p class="card__category">Category</p> -->
        <h3 class="card__heading">7th Month</h3>
      </div>
    </a>
      <a class="card" >
      <div class="card__background" style="background-image: url('/static/inv_card/img/8.jpg')"></div>
      <div class="card__content">
        <!-- <p class="card__category">Category</p> -->
        <h3 class="card__heading">8th Month</h3>
      </div>
    </a>

      <a class="card" >
      <div class="card__background" style="background-image: url('/static/inv_card/img/9.jpg')"></div>
      <div class="card__content">
        <!-- <p class="card__category">Category</p> -->
        <h3 class="card__heading">9th Month</h3>
      </div>
    	</a>

      <a class="card" >
      <div class="card__background" style="background-image: url('/static/inv_card/img/10.jpg')"></div>
      <div class="card__content">
        <!-- <p class="card__category">Category</p> -->
        <h3 class="card__heading">10th Month</h3>
      </div>
    </a>

      <a class="card" >
      <div class="card__background" style="background-image: url('/static/inv_card/img/11.jpg')"></div>
      <div class="card__content">
        <!-- <p class="card__category">Category</p> -->
        <h3 class="card__heading">11th Month</h3>
      </div>
    </a>
 <a class="card" >
      <div class="card__background" style="background-image: url('/static/inv_card/img/12.jpeg')"></div>
      <div class="card__content">
        <!-- <p class="card__category">Category</p> -->
        <!-- <h3 class="card__heading">11th Month</h3> -->
      </div>
    </a>
 </div>
  <div>
</section>

<section class="end_1 section">
	<!-- <h1>See you there!!</h1> -->
	<h1>SEE YOU THERE!</h1>
</section>

</div>

<canvas id="my-canvas"></canvas>
<script src="{% static 'inv_card/js/index.min.js' %}"></script>
<script>
	var confettiSettings = { target: 'my-canvas' };
	var confetti = new ConfettiGenerator(confettiSettings);
	confetti.render();
</script>
<script src="{% static 'inv_card/js/new_eff.js' %}" type="module"></script>
</body>
</html>