@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body{
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  transition: .5s ease; 
  /*background: #efefef;*/
}
.inv {
  margin-top:5rem;
  display: flex;
  flex direction: row;
  justify-content:space-around;
  align-items: center;
}
.card1{
  border: none;
  width: 80%;
  margin: auto;
}

.head {
/*  overflow: hidden;
  width: 369px;
  height: 365px;
  clip-path: circle();*/
  /*border-radius: 147px;*/
 /* position:absolute;*/
}

.pic{
  position: relative;
}
.pic > .baloon{
  position: absolute;
/*  top:0;*/
  left: 19rem;
  transform: rotate(13deg);
  animation: animate 2s alternate infinite;
}
.baloon{
  width: 50%!important;
}
@keyframes animate{
  from{
    bottom: 0;
  }
  to{
    bottom: 60px;
  }
}
.pic img {
  width: 85%;
  object-fit: cover;
/*    max-width: 78%;
    position: relative;
    right: 33rem;
    bottom: 9rem;
    object-fit: cover;
    background-position: center center;
    filter: brightness(110%);*/

}
.Notes h1{
  white-space: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Caveat Brush', cursive;
}
/*top: 50px;
    font-size: 5rem;
    transform: rotate(-4deg);
    position: absolute;*/
#g1{
  font-size: 4rem;
  transform: rotate(-4deg);
  position: absolute;
}
#O1{
  font-size: 12rem;
  top: 39px;
  position: relative;
  color:hotpink ;
}

#my-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100000;
}
.time_date{
  text-align: center;
}
#ch{
  margin-bottom: 1rem;
}


.about .container .content{
  column-gap: 40px;
  width: 100%;
}
.about-img{
  position: relative;
  z-index: 100002;
}
#ch1{
  text-align: center;
}
#ch2{
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 4rem;
  color: #777;
}
.sim{
  display: flex;
  justify-content:space-between;
  align-items: center;
  

}
.sim img{
  width: 32rem;
  height: 28rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sim iframe{
  z-index: 100002;
    border-radius: 8px;
    width: 33rem;
    height: 28rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .5s ease;
}
.sim iframe:hover{
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;

}

.about-img img{
  width: 24rem;
  z-index: 100002;
  border-radius: 20px;
  transition: .5s ease;
  box-shadow: rgb(240, 128, 128) 0px 4px 16px, rgba(240, 46, 170, 0.4) 0px 8px 32px;
  
}

.about-img img:hover{
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

}

.about-info .description{
  max-width: 600px;
}

.about-info .description h4{
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}
.about-info .description h2{
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Norican', cursive;
  font-size: 3.3rem;
  color: hotpink;
}

.about-info .description p {
  color: #777;
  font-size: 1em;
  margin-bottom: 2px;
}
.months{
  text-align: center;
}
.months h3{
  font-family: 'Satisfy', cursive;
}
.months .cc1{
  font-family: 'Lemonada', cursive;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section{
  position: relative;
  max-width: 1150px;
  min-width: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 2rem 2rem;
}

.sub-section{
  position: relative;
  max-width: 1150px;
  min-width: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 0;
}

.section-title-01{
  text-align: center;
  font-size: 4.5em;
  font-weight: 800;
  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, #0e2431 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .1;
}

.section-title-02{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  transform: translateY(-80px);
}
.section-title-02:before{
  content: '';
  position: absolute;
  width: 70px;
  height: 5px;
  right: 0;
  bottom: 0;
  background: var(--second-color);
}
.container{
  position: relative;
  flex-direction: column;
}
.end_1 h1{
  color: hotpink;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
}


@media screen and (max-width: 1070px){
  .pic > .baloon{
  left: 15rem;
}
  .about .container .content{
    display: grid;
    width: 100%;
    row-gap: 20px;
  }
  .about-info{
    min-width: 0;
    width: 100%;
  }
  .about-img{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .simbahan{
  width: 80%;
  margin: auto;
  }
  .sim{
    display: grid;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .sim img{
   width: 44rem;
    height: 33rem;
  }
  .sim iframe{
   width: 44rem;
    height: 33rem;
  }
  .end_1 h1{
    font-size: 4rem;
  }


}

@media screen and (max-width:760px){
    .pic > .baloon{
  left: 10rem;
}
  .inv{
    display: grid;
  }
  .pic img, .Notes {
  width: 80%;
  margin: auto;
  }
  .pic img{
    transform: translate(44px, 5px);
  }
  #g1{
    font-size: 3.3rem;
    left: 30px; 
  }
  #O1{
    font-size: 8rem;
  }
  .sim img{
   width: 34rem;
  height: 26rem;
  }
  .sim iframe{
    width: 34rem;
    height: 26rem;
  }
  .end_1 h1{
    font-size: 55px;
  }

}
@media screen and (max-width:560px){
    .pic > .baloon{
  left: 12rem;
}
  #ch1 {
    font-size:1.3em;
}
 #ch2 {
    font-size:1em;
}
  .sim img{
  width: 20rem;
    height: 16rem;
  }
  .sim iframe{
    width: 20rem;
    height: 16rem;
  }
  .end_1 h1{
    font-size:35px;
  }

}



@media screen and (max-width:450px){
  #g1{
    font-size: 3rem;
    left: 15px; 
  }
  #O1{
    font-size: 7rem;
  }
  .about-info .description h4{
  font-size: 19px;
}
.about-info .description h2{
  font-size: 41px;
}

  .about-info .description p {
  font-size: 15px;

  }
  .about-img img{
  width: 19rem;
}
.end_1 h1{
    font-size: 25px;
  }

}



@media screen and (max-width:380px){
  .end_1 h1{
    font-size: 15px;
  }
#g1{
    font-size: 40px;
    left: 15px; 
  }
  .end_1 h1{
    font-size: 39px;
  }

}

/*==============================================*/
:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}
.hero-section{
  z-index: 100002;
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  z-index: 100002;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 95%;
  align-items: center;
  justify-content: center;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(3, 1fr); 
  }
}

.card{
  z-index: 100002;
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}
/*.card__background img{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}
*/
.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
  filter: brightness(95%) saturate(1.2) contrast(0.85);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  /*word-spacing: 100vw;*/
}

#confetti{
  z-index: 100002;
  cursor: pointer;
}